<div class="container">
    <div class="bg-faded p-4 my-4">
        <hr class="divider">
    
        <h1 class="text-center text-lg text-uppercase my-0"><strong> {{ page.title }}</strong></h1>
    
        <hr class="divider">
    
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid mb-4 mb-lg-0" src="/images/{{ page.image }}" alt="{{ page.title }}" title="{{ page.title }}"/>
            </div>
            <div class="col-lg-6">
                {{ content }}
            </div>
        </div>
    </div>
</div>