    <footer class="bg-faded text-center py-5">
        <div class="container">
            <p class="m-0">Copyright &copy; {{ site.title }} 2022
            {{ site.title_separator }}
            <a style="color:black" href="legal">Mentions légales</a></p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    {% if page.layout == "contact" %}
    <!-- Zoom when clicked function for Google Map -->
    <script>
        $('.map-container').click(function () {
        $(this).find('iframe').addClass('clicked')
        }).mouseleave(function () {
        $(this).find('iframe').removeClass('clicked')
        });
    </script>	
    <script>
		// Hide map on initial load
		$('.map').hide()

		// Show map notice
		$(
			'<div class="p-5 m-3 map-notice border text-center"><p>Conformément au RGPD (<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">Règlement Général sur la Protection des Données</a>), le chargement automatique de Google Maps a été bloqué. Des données personnelles, telles que votre adresse IP, seront transmises à Google, avec votre accord, lorsque vous cliquerez sur "afficher la carte".</p><a href="#" class="show-map" style="text-decoration:underline;">Cliquer ici pour afficher la carte</a></div>'
		).insertAfter('.map')

		// Show map and hide notice when activated
		$('.show-map').click(function (e) {
			e.preventDefault()
			$('.map-notice').fadeOut()
			$('.map').fadeIn()
		})
	</script>
    {% endif%}
</body>