<head typeof="schema:WebSite">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {%if include.content %}{% include meta_{{ include.content }}.html %}{%else%}{% include meta.html %}{%endif%}
    
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/fonts/Josefin+Slab.css" rel="stylesheet" type="text/css">     
    <link href="/fonts/Open+Sans.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/business-casual.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="/vendor/fontawesome/css/all.css" rel="stylesheet">

  </head>

<body>

    <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">{{ site.title }}</div>
    <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block"> {{ site.brief }}</div>
  
    